---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Catalogo Gastos Pendejos Steam</title>
	</head>
	<body>
		<div class="container">
			<!-- Comportamiento similar al uso de children encapsula componentes que se le pasen -->
			<slot />
		</div>
	</body>
</html>

<style>
	/* llamando una dependencia para poder usar tailwind tambien se puede llamar a un archivo que ya tenga referencia a tailwind */
	@reference "tailwindcss";

	html,
	body {
		@apply grid place-content-center p-5;
		background-color: #000;

		.container {
			@apply container w-full;
		}
	}
</style>
